<app-header></app-header>
<main class="">
    <div class="h-80v xss:h-90v xss:h-screen max-w-[1200px] grid grid-cols-4 mx-auto overflow-y-scroll">
        <div class="hidden xss:block xss:col-span-1 pt-4">
            <app-navigation></app-navigation>
        </div>
        <div class="col-span-4 xss:col-span-3 bg-blue-100 p-4">
            <app-grade></app-grade>
        </div>
  
    </div>
</main>
<footer class="h-10v xss:hidden">
    <ul class="text-3xl pt-4 flex justify-between">
        <li class="hover:bg-slate-200 mb-4">
            Icon<span class="hidden md:inline ml-4">Topics</span></li>
        <li class="hover:bg-slate-200 mb-4">
            Icon<span class="hidden md:inline ml-4">Quizzes</span></li>
        <li class="hover:bg-slate-200 mb-4">
            Icon<span class="hidden md:inline ml-4">Grades</span></li>
        <li class="hover:bg-slate-200">
            Icon<span class="hidden md:inline ml-4">Queries</span></li>
    </ul>
</footer>