<div class="">
    <header class="h-10v p-4 bg-blue-200">
        Lerato
    </header>

   <div class="max-w-[1200px] p-4">
    <div class="my-4">
        <h1 class="text-4xl font-black">
            Welcome Lerato
        </h1>
        <p class="font-semiblack">This is your workspace. Select a subject and get to work</p>
    </div>
    
    <main class="max-w-[800px] grid grid-cols-2 mx-auto gap-4">
        <div *ngFor="let subject of mySubjects" class="h-28 border-2 border-blue-500 text-white bg-blue-300 rounded-lg" routerLink="/subject/topics">
            <p>{{subject}}</p>
        </div>
    </main>
   </div>
</div>