<nav class="">
    <h3 class="text-2xl font-black mb-8">
        Thuto
    </h3>
    <ul class="text-3xl pt-4">
        <li class="hover:bg-slate-200 mb-4">
            Icon<span class="hidden md:inline ml-4">Topics</span></li>
        <li class="hover:bg-slate-200 mb-4">
            Icon<span class="hidden md:inline ml-4">Quizzes</span></li>
        <li class="hover:bg-slate-200 mb-4">
            Icon<span class="hidden md:inline ml-4">Grades</span></li>
        <li class="hover:bg-slate-200">
            Icon<span class="hidden md:inline ml-4">Queries</span></li>
    </ul>
</nav>