<nav class="p-4">
    <h3 class="text-2xl font-black mb-8">
        Thuto
    </h3>
    <ul class="text-lg pt-4">
        <li class="hover:bg-slate-200 mb-4 p-2" routerLinkActive="active">
            <a routerLink="/subject/topics" >
                <img src="../../../assets/teach-black.png" width="40" class="inline" >
                <span class="hidden md:inline ml-4">Topics</span>
            </a>
        </li>
        <li class="hover:bg-slate-200 p-2 mb-4" routerLinkActive="active">
            <a routerLink="/subject/quizzes" >
                <img src="../../../assets/question-black.png" width="40" class="inline" alt="">
                <span class="hidden md:inline ml-4">Quizzes</span>
            </a>
        </li>
        <li class="hover:bg-slate-200 p-2 mb-4" routerLinkActive="active">
            <a routerLink="/subject/grades" >
                <img src="../../../assets/grade-black.png" width="40" class="inline" alt="">
                <span class="hidden md:inline ml-4">Grades</span>
            </a>
        </li>
        <li class="hover:bg-slate-200 p-2" routerLinkActive="active">
            <a routerLink="/subject/1" >
                <img src="../../../assets/query-black.png" width="40" class="inline" alt="">
                <span class="hidden md:inline ml-4">Queries</span>
            </a>
        </li>
    </ul>
</nav>