<nav class="">
    <h3 class="text-2xl font-black mb-8">
        Thuto
    </h3>
    <ul class="text-3xl pt-4">
        <li class="hover:bg-slate-200 mb-4">
            <a routerLink="/subject/topics" routerLinkActive="active">
                Icon<span class="hidden md:inline ml-4">Topics</span>
            </a>
        </li>
        <li class="hover:bg-slate-200 mb-4">
            <a routerLink="/subject/quizzes" routerLinkActive="active">
                Icon<span class="hidden md:inline ml-4">Quizzes</span>
            </a>
        </li>
        <li class="hover:bg-slate-200 mb-4">
            <a routerLink="/subject/grades" routerLinkActive="active">
                Icon<span class="hidden md:inline ml-4">Grades</span>
            </a>
        </li>
        <li class="hover:bg-slate-200">
            <a routerLink="/subject/1" routerLinkActive="active">
                Icon<span class="hidden md:inline ml-4">Queries</span>
            </a>
        </li>
    </ul>
</nav>