<section class="flex flex-col justify-around">
    <article class="mb-4">
        <h2 class="font-bold text-2xl">Available Quizzes</h2>
        <p><em>(Ensure you are up to date with the work)</em></p>
    </article>
    <div class="border-4 border-white p-2 rounded-lg">
        <table class="text-left w-full">
            <thead class="font-semibold">
                <tr>
                    <th class="border-r-4 p-2 border-white">No.</th>
                    <th colspan="2" class="border-r-4 p-2 border-white">Quiz</th>
                    <th colspan="2" class="p-2">Status</th>
                </tr>
            </thead>
            <tr class="border-t-4 border-white">
                <td class="border-r-4 p-2 border-white">1</td>
                <td colspan="2" class="border-r-4 p-2 border-white">Algebra</td>
                <td colspan="2" class="p-2">Complete</td>
            </tr>
            <tr class="border-t-4 border-white">
                <td class="border-r-4 p-2 border-white">1</td>
                <td colspan="2" class="border-r-4 p-2 border-white">Algebra</td>
                <td colspan="2" class="p-2">Start</td>
            </tr>
        </table>
    </div>
</section>