<main class="grid grid-cols-4 h-screen">
    <div class="bg-myColor lg:col-span-3 md:col-span-2">
        <section class="flex justify-center items-center h-screen">
            <img src="../../../assets/home-picture.jpg"
            class="block max-w-[800px] min-w-[100px]"
             alt=""
             >
        </section>
    </div>
    <div class="lg:col-span-1 md:col-span-2 p-4">
        <section class="h-screen flex items-center justify-center">
            <app-login></app-login>
        </section>
    </div>
</main>