<div class="border-4 border-white h-[80vh] p-2 ">
    <div class="text-right mb-4">
        <button class="px-4 py-2 bg-green-400 text-black">Add New Topic</button>
    </div>
    <div class="overflow-y-auto h-[70vh]">
        <table class="text-left w-full">
            <thead class="font-semibold">
                <tr>
                    <th class="border-r-4 p-2 border-white">No.</th>
                    <th colspan="2" class="border-r-4 p-2 border-white">Topic</th>
                    <th colspan="2" class="p-2">Uploads</th>
                </tr>
            </thead>
            <tbody class="">
                <tr class="border-t-4 border-white">
                    <td class="border-r-4 p-2 border-white">1</td>
                    <td colspan="2" class="border-r-4 p-2 border-white">Algebra</td>
                    <td colspan="2" class="p-2">hello.pdf</td>
                </tr>
                <tr class="border-t-4 border-white">
                    <td class="border-r-4 p-2 border-white">1</td>
                    <td colspan="2" class="border-r-4 p-2 border-white">Algebra</td>
                    <td colspan="2" class="p-2">Brosef.pdf</td>
                </tr>
                <tr class="border-t-4 border-white">
                    <td class="border-r-4 p-2 border-white">1</td>
                    <td colspan="2" class="border-r-4 p-2 border-white">Algebra</td>
                    <td colspan="2" class="p-2">Brosef.pdf</td>
                </tr>
                <tr class="border-t-4 border-white">
                    <td class="border-r-4 p-2 border-white">1</td>
                    <td colspan="2" class="border-r-4 p-2 border-white">Algebra</td>
                    <td colspan="2" class="p-2">Brosef.pdf</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>